body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sidebar {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    position: fixed;
    left: -200px;
    top: 60px;
    bottom: 0;
    transition: left 0.3s ease;
}

#content {
    flex: 1;
    padding: 20px;
    color: #000000;
}

#menuButton {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 999;
}

#sidebarButtons {
    position: fixed;
    left: 20px;
    bottom: 20px;
    top: 70px;
}

.shrink-content {
    transition: margin-left 0.3s ease;
    margin-left: 200px;
}