{% extends "navbar.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="shortcut icon">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <title>Tuya Monitor</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            display: block;
        }

        /* Main Content */
        .content {
            flex: 1;
            padding-left: 200px;
        }
    </style>
</head>

<body>
<!-- Left Sidebar -->

{% block dashboard %}


    <!-- Main Content -->
    <div style="margin-left: 250px;">
        <div class="content">
            <h1>Device Information</h1>

            <!-- Buttons to send true or false -->

            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 12px">

                <div style="padding-top: 100px">
                    <p id="status-message"></p>
                    <img alt="Device Icon" height="300" src="https://images.tuyacn.com/{{ device_info['icon'] }}"
                         width="300">
                    <div>
                        <button onclick="sendStatus(true)">Turn
                            on the device
                        </button>
                        <button onclick="sendStatus(false)">Turn off the device</button>
                    </div>

                    <ul style="font-size: large">


                        <li><strong>Product Name:</strong> {{ device_info['product_name'] }}</li>
                        <li><strong>Product Model:</strong> {{ device_info['model'] }}</li>
                        <li><strong>Is Sub-device:</strong> {{ "Yes" if device_info['sub'] else "No" }}</li>
                        <li><strong>Online:</strong> {{ "Yes" if device_info['online'] else "No" }}</li>
                        <li><strong>Active Time:</strong> {{ human_readable_time(device_info['active_time']) }}</li>
                        <li><strong>Update Time:</strong> {{ human_readable_time(device_info['update_time']) }}</li>
                        <li><strong>Create Time:</strong> {{ human_readable_time(device_info['create_time']) }}</li>
                        <li><strong>IP Address:</strong> {{ device_info['ip'] }}</li>
                    </ul>
                </div>
                <iframe height="700"
                        src="https://maps.google.com/maps?q={{ device_info['lat'] }},{{ device_info['lon'] }}&hl=us&z=14&amp;output=embed"
                        width="600">
                </iframe>
            </div>
        </div>
    </div>

    <script>
        function sendStatus(value) {
            const backendURL = '/device-control';
            const statusMessage = document.getElementById('status-message');

            // Display a loading message while waiting for the response
            statusMessage.innerText = 'Loading...';

            fetch(backendURL, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({status: value}),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Response from backend:', data);

                    // Check if both "success" and "result" are true
                    if (data.success && data.result) {
                        statusMessage.innerText = 'Success!';
                    } else {
                        statusMessage.innerText = 'Can not connect to the device.';
                    }
                })
                .catch(error => {
                    console.error('Error sending status to backend:', error);

                    // Display an error message
                    statusMessage.innerText = 'Error: Unable to communicate with the backend.';
                });
        }

        // Function to navigate to the home page

    </script>
{% endblock %}

</body>

</html>