{%extends "navbar.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tuya Monitor</title>
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="shortcut icon">
</head>

<body>
    {%block energy%}
    <div style="margin-left: 250px;">
        <h1>Daily Energy Analysis</h1>
        <button onclick="goToDashboard()">Back</button>

        <img alt="Daily Energy Usage Trend Chart" src="data:image/png;base64,{{ img_base64 }}">
        <br>
    </div>
    <script>
        function goToDashboard() {
            window.location.href = '/dashboard';
        }
    </script>
    {%endblock%}
</body>

</html>