<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tuya Monitor</title>
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="shortcut icon">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            display: flex;
        }
    </style>
</head>
{%extends "navbar.html"%}

<body>
    {%block energy%}
    <div style="margin-left: 250px;">
        <h1>Daily Energy Analysis</h1>

        <img alt="Daily Energy Usage Trend Chart" src="data:image/png;base64,{{ img_base64 }}">
        <br>
    </div>
    <script>
        function goToDashboard() {
            window.location.href = '/dashboard';
        }
    </script>
    {%endblock%}
</body>

</html>