<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Side Navbar Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='CSS/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="shortcut icon">
</head>

<body>
    <div id="sidebar">
        <button class="btn btn-primary btn-block mb-2" onclick="loadPage('homepage')">Homepage</button>
        <button class="btn btn-primary btn-block mb-2" onclick="loadPage('dashboard')">Dashboard</button>
        <button class="btn btn-primary btn-block" onclick="loadPage('about')">About</button>
    </div>

    <div id="content">
        <!-- Content will be loaded here -->
    </div>
    <button id="menuButton" class="btn btn-secondary" onclick="toggleNavbar()">Menu</button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        loadPage('Homepage')

        function loadPage(page) {
            const contentDiv = document.getElementById('content');

            switch (page) {
                case 'Homepage':
                    fetch('home-page')
                        .then(response => response.text())
                        .then(html => {
                            contentDiv.innerHTML = html;
                        })
                        .catch(error => {
                            console.error('Error loading dashboard page:', error);
                            contentDiv.innerHTML = '<h2>Error Page</h2><p>Failed to load content for this page.</p>';
                        });
                    break;
                case 'dashboard':
                    window.location.href = '/power-monitor'
                    break
                case 'about':
                    fetch('device-info')
                        .then(response => response.text())
                        .then(html => {
                            contentDiv.innerHTML = html;
                        })
                        .catch(error => {
                            console.error('Error loading about page:', error);
                            contentDiv.innerHTML = '<h2>Error Page</h2><p>Failed to load content for this page.</p>';
                        });
                    break;

                default:
            }
        }


        function toggleNavbar() {
            const sidebar = document.getElementById('sidebar');
            const currentLeft = parseInt(window.getComputedStyle(sidebar).left, 10);

            sidebar.style.left = currentLeft === 0 ? '-200px' : '0';
        }
    </script>

</body>

</html>