{%extends "navbar.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tuya Monitor</title>
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="shortcut icon">

</head>

<body>
    {%block total%}
    <h1>Total Price Calculation</h1>
    <button onclick="goToDashboard()">Back</button>
    <div style="margin-left: 250px;">

        <form action="{{ url_for('total_price') }}" method="post">
            <label for="start_datetime">Start Date and Time:</label>
            <input id="start_datetime" name="start_datetime" required type="datetime-local"
                value="{{ default_start_date.strftime('%Y-%m-%dT%H:%M') }}">
            <br>
            <label for="end_datetime">End Date and Time:</label>
            <input id="end_datetime" name="end_datetime" required type="datetime-local"
                value="{{ default_end_date.strftime('%Y-%m-%dT%H:%M') }}">
            <br>
            <input type="submit" value="Calculate Total Price">
        </form>
    </div>
    <script>
        function goToDashboard() {
            window.location.href = '/dashboard';
        }
    </script>
    {%endblock%}
</body>

</html>