<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tuya Monitor</title>
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="shortcut icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            display: flex;
        }

        /* Main Content */
        .content {
            flex: 1;
            padding-left: 200px;
        }
    </style>
</head>

{% extends "navbar.html" %}

<body>
    {%block wattage%}
    <div class="content" id="chart-container">{{ chart_html | safe }}</div>
    {% endblock %}
</body>

</html>