<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tuya Monitor</title>
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="shortcut icon">
</head>

<body>
<h1>Wattage Calculator</h1>
<button onclick="goToDashboard()">Back</button>
{% if timestamp %}
<p>Timestamp: {{ timestamp }}</p>
<p>Wattage: {{ wattage }} W</p>
<br>
{% else %}
<form action="{{ url_for('wattage_calculator') }}" method="post">
    <label for="selected_timestamp">Select Timestamp:</label>
    <select id="selected_timestamp" name="selected_timestamp" required>
        {% for timestamp in timestamps %}
        <option value="{{ timestamp }}">{{ timestamp }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Calculate Wattage">
</form>
<br> {% endif %}

<script>
    function goToDashboard() {
        window.location.href = '/dashboard';
    }
</script>
</body>

</html>